.landing-page{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin-top: 15vh;


  /* background-image: url("/img/IMG_0931.JPG");
  background-size: cover;
  background-repeat: no-repeat; */


}





#home{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;



}

#home img{
  padding-right: 2vw;
  

  height: 50vh;
  max-width: 100vw;
  


  


}

.responsive{

}

#shadowBox{
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  /* padding-right: 5vh; */
  margin-left: 5vh;
  padding: 2vw;


  /* opacity: 0.2; */
}


#home-text{
  /* padding-left: 5vw; */

  font-size: 5vh;

  text-align: center;
  
  color: white;
  text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
  /* opacity: 1; */

  
}

#home-text h1{
  
  padding: 0;
  

}

#home-text hr{
  height: 4px;
  background-color: white;
  border-radius: 10px;
  border-color: black;
  border-width: 0.2vw;

}

#home-text p{



}

#read-more-btn{

  text-decoration: none;
  
  font: bold;
  font-size: 2.5vh;
  color: black;
  
  padding: 3vh 3vw;
  margin-top: 3vh;

  border: 0;
  border-radius: 1vh;

  background-color: white;

}


#read-more-btn:hover{

  background-color: black;
  color: white;

  padding: 3.3vh 3.3vw;
  font-size: 3vh;

}


/* Responsive Design------------------------------------------------------- */

@media screen and (max-width: 650px){
  

  #home-text{
    font-size: 5vw;


  }

  


}

@media screen and (max-width: 1050px){
  #home-text{
    font-size: 3vw;

  }
  
  #home img{
    height: 30vh;

  }
}

